
div.barrel_form {
	border:none 1px #7f9db9;
	background-color:#eeefff;
}

div.barrel_form_input_div {
	border:none 0px #7f9db9;
	padding:3px;
	font-size:8pt;
	font-family:arial, verdana, sans-serif;
}

div.barrel_form_input_div input {
	border:solid 1px #7f9db9;
	padding:3px;
	font-size:8pt;
	font-family:arial, verdana, sans-serif;
}

span.barrel_form_input_label {
	font-style: bold; padding-right: 10px; padding-bottom: 3px;
}

span.barrel_form_input_label_inline {
	font-style: bold; padding-right: 10px; padding-left: 10px; padding-bottom: 3px;
}

span.barrel_form_input_tips {
	font-style: italic; padding-right: 10px; padding-left: 10px; padding-bottom: 3px;
}

div.barrel_menu {
	color:#47e34b;
}

div.barrel_menu a {
	color:black;
	display:block;
	border:solid 1px #CCFFCC;
	border-top-color:#EEFFEE;
	border-left-color:#EEFFEE;
	background-color:#FFFEEE;
	margin:1px 1px 1px;
	padding:1px 1px 1px;
}

div.barrel_menu a:hover {
	background-color:white;
	border:solid 1px #fffAAA;
	display:block;
	color:black;
}

div.barrel_view {
	text-align: center;
	margin:10px 10px 10px;
	border:solid 1px #7f9db9;
	background-color:#eeefff;
}

div.common_top {
	background-color:white;
}
div.common_left {
	border:none 1px #7f9db9;
	background-color:white;
	float:left;
	padding:10px 10px 10px;
}
div.common_center {
	background-color:white;
}
div.common_all {
	height:100%;
}
.common_header {
	display:inline-block;
}
